<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>fi.local.homewizard.web-monitor</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/jarkko/_dev/homewizard/start_web_monitor.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/jarkko/_dev/homewizard</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/jarkko/_dev/homewizard/web_monitor_launchd.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/jarkko/_dev/homewizard/web_monitor_launchd.err.log</string>
</dict>
</plist>
